@model nitocms.Models.BlogPostViewModel
<div class="row">
    <div class="col-sm-8">
        @Model.Title
    </div>
    <div class="col-sm-3">
        @Model.Created
    </div>
    <div class="col-sm-1">
        @if (Model.IsDeleted)
        {
            @Html.ActionLink("Przywróć", "Renew", new { id = Model.Id }, new { @class = "btn btn-success" });
        }
        else
        {
            @Html.ActionLink("Usuń", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" });

        }
    </div>
</div>
