@model nitocms.Models.HomeViewModel

@{
    ViewBag.Title = "Artykuły";
}

<div class="panel">
    <div class="panel-heading">
        <h2>Artykuły</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            @Html.ActionLink("Dodaj nowy", "Upload", null, new { @class = "btn btn-warning" })
        </div>
        <div class="row">
            <span style="color:green">@ViewBag.Message</span>
        </div>
        <div class="form-group">
            @foreach (var post in Model.Posts)
            {
                @Html.Partial("BlogPost/_BlogPostRow", post)
            }
        </div>
    </div>
</div>

